<body [ngClass]="{ 'best-value': subscription.best_value , 'xSmallScreen' : xSmallScreen }" >
  <span id="best-value-container" *ngIf="subscription.best_value"
    >BEST VALUES</span
  >

  <h3 id="title">{{ subscription.name }}</h3>
  <div class="neutral-black">à partir de</div>
  <div
    id="price"
    [ngClass]="subscription.best_value ? 'best-value-color' : 'secondary-color'"
  >
    {{ subscription.price }}€<span class="neutral-black"
      >/{{ period | uppercase }}</span
    >
  </div>
  <div>
    <span class="neutral-black">pour</span> {{ subscription.users }} Utilisateur
  </div>

  <div id="familly-option-container">
    <img src="../../../assets/icons/Picto-abonnement-famille.svg" alt="" />
    <div>
      Disponible avec l'option famille
      <span class="font-bold">jusqu'à 5 utilisateurs</span>
    </div>
  </div>

  <ng-container *ngIf="subscription.best_value; else bestValueTemplate">
    <button class="mat-btn-cta fill" mat-flat-button color="primary">
      Abonnez-vous
    </button>
  </ng-container>
  <ng-template #bestValueTemplate>
    <button class="mat-btn-cta stroked" mat-stroked-button color="accent">
      Abonnez-vous
    </button>
  </ng-template>

  <!-- <div id="btn-cta" class="cta">Abonnez-vous</div> -->
</body>
