<body>
  <h3 id="title">Mensuel</h3>
  <div class="neutral-black">à partir de</div>
  <div id="price">11.99€<span class="neutral-black">/mois</span></div>
  <div><span class="neutral-black">pour</span> 1 Utilisateur</div>

  <div id="familly-option-container">
    <img src="../../../assets/icons/Picto-abonnement-famille.svg" alt="" />
    <div>
      Disponible avec l'option famille <span class="font-bold">jusqu'à 5 utilisateurs</span>
    </div>
  </div>

  <div id="btn-cta" class="cta">Abonnez-vous</div>
</body>
