<body [ngClass]="{'smallScreen': smallScreen , 'xSmallScreen' : xSmallScreen }">
  <div id="content-container" >
    <div id="content">
      <h1>Explore lorem ipsum <span class="primary-color">it dolor</span></h1>
      <span id="details">
        Get ready, start your indoor training and explore the world from home
        on Kinomap!
      </span>
      <div id="rate-container">
        <img id="certificate" src="https://gitlab.com/kinomap-dev/frontproject/-/raw/master/images/preferedApp.png" alt="certification : application 100 recommandées">
        <span id="rate">{{appRate}}</span>
        <div id="rate-stars-container">
          <app-star *ngFor="let rate of rateArray" [rate]="rate"></app-star>
        </div>
      </div>
    </div>
  </div>
  <div id="banner-container">
    <div id="banner">
      <h3>Profitez de <br>{{trial}} jours gratuit</h3>
      <app-trial-step *ngFor="let trialStep of trialSteps; let index = index " [trialStep]="trialStep" [trialNumber]="index"></app-trial-step>
    </div>
  </div>
</body>
