body{
    margin: 0 1em;
    background-color: #1A1918;
    padding: 2em 8em;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #FFFFFF;
    width: 24em;
}



