<body [ngClass]="{ smallScreen: smallScreen, xSmallScreen: xSmallScreen }">
  <div id="content-container">
    <h2>Carte cadeau</h2>
    <p id="content">
      Que ce soit pour faire plaisir à un être cher ou pour faire plus ample
      connaissance avec quelqu'un, AllTrpails Pro est le cadeau idéal lorem ip
    </p>
    <button class="mat-btn-cta font-bold" mat-flat-button color="primary">
        Obtenir une carte cadeau
    </button>
    <div id="action">
      <p>Activer ma carte cadeau</p>
      <div class="arrow">
        <span id="arrow-part-a"></span>
        <span id="arrow-part-b"></span>
      </div>
    </div>
  </div>
</body>
