<body [ngClass]="{'smallScreen': smallScreen , 'xSmallScreen' : xSmallScreen }">
    <div id="content-container">
        <h3>Carte cadeau</h3>
        <p id="content">Que ce soit pour faire plaisir à un être cher ou pour faire plus ample connaissance avec quelqu'un, AllTrpails Pro est le cadeau idéal lorem ip</p>
        <div id="btn-cta">Obtenir une carte cadeau</div>
        <div id="action">
            <p>Activer ma carte cadeau</p>
            <div class="arrow">
                <span id="arrow-part-a"></span>
                <span id="arrow-part-b"></span>
            </div>
        </div>
    </div>
</body>
