#accordion {
    mat-expansion-panel-header {
      padding: 1em;

      .mat-expansion-panel-header-description {
        justify-content: space-between;
        margin: 0 1.5em 0 2em;
      }

      #add-icon {
        border: 0.2em solid #f4f4f4;
        height: 2em;
        width: 2em;
        border-radius: 2em;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: block;
          padding: 0;
          margin: 0;
          background-color: #1a1918;
          height: 0.12em;
          width: 0.6em;
        }

        #vertical {
          position: absolute;
          align-self: center;
          rotate: 90deg;
        }
      }
    }
  }