@use "@angular/material" as mat;
@import "../../kinomap-color-theme.scss";

$dark-200: map-get($md-dark, 200);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
    margin: 8em;

    h3{
        width: 12em;
        text-align: center;
        margin-bottom: 0.6em;
    }

    p{
        margin-bottom: 1.6em;
        color:$dark-200;
    }

  #accordion-container {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    align-items: stretch;
    width: 48em;
  }
}

.smallScreen{
  margin: 8em 2em;
  h3{
    width: 80%;
  }
  p{
    margin: 0 4em;
    padding-bottom: 1em;
  }
  #accordion-container {
    gap: 0.6em;
    align-items: stretch;
    width: 80%;
  }
}

.xSmallScreen{
  margin: 8em 1em;
  h3{
    width: 80%;
  }
  p{
    margin: 0 4em;
    padding-bottom: 1em;

  }
  #accordion-container {
    gap: 0.6em;
    align-items: stretch;
    width: 100%;
  }
}
