@use "@angular/material" as mat;
@import "../../kinomap-color-theme.scss";

$dark-100: map-get($md-dark, 100);
$dark-500: map-get($md-dark, 500);
$dark-500-contrast: map-get($kinomap-darker, '500-contrast');


body {
  background-color: $dark-500;
  color: $dark-500-contrast;

  #starter-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 6em 12em 2em 12em;

    #text-container {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 50%;
      h1 {
        color: $dark-500-contrast;
        line-height: 1em;
      }

      #content {
        font-family: "Sk-Modernist-Light";
        font-size: 1.2em;
        color: $dark-100;
      }

      #action {
        font-weight: 700;
        font-size: 0.8em;

        .arrow {
          margin-top: 0.6em;
          rotate: 90deg;
        }
      }
    }
  }

  #img-container {
    width: 50%;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
