<body>
  <div id="starter-container">
    <div id="text-container">
      <h1>Nos offres et nos tarifs</h1>
      
      <div id="content">
          L'abonnement lorem ipsum vous permet de adipiscing elit, sed do eiusmod
          tempor incididunt ut labore e
      </div>

      <div id="action">
        <p>How it works ?</p>
        <img src=""/>
      </div>
    </div>

    <div id="img-container">
      <img
        src="https://gitlab.com/kinomap-dev/frontproject/-/raw/master/images/image1.png"
        alt=""
      />
    </div>
  </div>
</body>
