<body [ngClass]="{'smallScreen': smallScreen , 'xSmallScreen' : xSmallScreen, 'mediumScreen' : mediumScreen }">
  <div id="starter-container">
    <div id="text-container">
      <h1>Nos offres et nos tarifs</h1>

      <div id="content">
        L'abonnement lorem ipsum vous permet de adipiscing elit, sed do eiusmod
        tempor incididunt ut labore e
      </div>

      <a id="action" (click)="navigateAnchor('prices-anchor')">
        <p>How it works ?</p>
        <div class="arrow">
          <span id="arrow-part-a"></span>
          <span id="arrow-part-b"></span>
        </div>
      </a>
    </div>

    <div id="img-container">
      <img
        src="https://gitlab.com/kinomap-dev/frontproject/-/raw/master/images/image1.png"
        alt=""
      />
    </div>
  </div>
</body>
