@use "@angular/material" as mat;

@include mat.core();
@import './app/kinomap-color-theme.scss';

$primary-500: map-get($md-yellow, 500);
$secondrary-50:map-get($md-blue, 50);
$secondrary-500: map-get($md-blue, 500);
$dark-500: map-get($md-dark, 500);
$dark-500-contrast: map-get($kinomap-darker, '500-contrast');

body {
  margin: 0;
  padding: 0;
  font-family: "Sk-Modernist";
  background-color: $secondrary-50;
}

h1,
h2,
h3 {
  font-family: "Sk-Modernist-Bold";
  padding: 0;
  margin: 0;
  color: $dark-500;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

@font-face {
  font-family: "Sk-Modernist-Bold";
  src: url("./assets/fonts/Sk-Modernist-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Sk-Modernist";
  src: url("./assets/fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Sk-Modernist-Light";
  src: url("./assets/fonts/Sk-Modernist-Regular.otf") format("opentype");
  font-weight: 400;
}

#btn-cta {
  background-color: $primary-500;
  padding: 0.8em 2em;
  color: $dark-500;
  border-radius: 0.4em;
}

#action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  color: $dark-500-contrast;

  .arrow {
    height: 0.5em;
    width: 1em;
    position: relative;

    span {
      display: block;
      height: 0.15em;
      width: 0.6em;
      background-color: $dark-500-contrast;
      border-radius: 0.5em;
      position: absolute;
    }

    #arrow-part-a {
      rotate: 45deg;
      top: 0.1em;
    }

    #arrow-part-b {
      rotate: 135deg;
      bottom: -0.1em;
    }
  }
}
