@use "@angular/material" as mat;

@include mat.core();
@import "../../kinomap-color-theme.scss";

$primary-500: map-get($md-yellow, 500);
$dark-500-contrast: map-get($kinomap-darker, "500-contrast");
$dark-200: map-get($md-dark, 200);

body {
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: $dark-500-contrast;
  color: $dark-200;
}

.marker {
  position: relative;
  background-color: $primary-500;
  height: 1em;
  min-width: 1em;
  border-radius: 1em;
}

.check-icon {
  position: absolute;
  display: block;
  width:  0.1em;
  background-color: $dark-500-contrast;
  border-radius: 0.1em;
}

.part-a {
  // background-color: red;
  height:  0.25em;
  top: 0.45em;
  rotate: -45deg;
  left: 0.33em;
}

.part-b {
  // background-color: greenyellow;
  height: 0.4em;
  rotate: 45deg;
  right: 0.38em;
  top: 0.35em;
}
