<body [ngClass]="{'smallScreen': smallScreen , 'xSmallScreen' : xSmallScreen }">
  <span id="bottom-background"></span>

  <h2 id="title">Des tarif lorem ipsum</h2>
  <p>
    Get ready, start your indoor training and explore the world from home on
    Kinomap!
  </p>
  <div id="prices-cards-content">
    <app-price-card *ngFor="let subscription of subscriptions" [subscription]="subscription"></app-price-card>
  </div>

  <div id="features-container">
    <h3 id="features-title">
      Fonctionnalités incluses dans les formules
    </h3>
    <div id="features-content">
      <app-feature>Partagez vos activités sur des <span class="font-bold dark-300-color">plateformes tierces de Fitness</span></app-feature>
      <app-feature>Pratiquez de <span class="font-bold dark-300-color">l'entrainement par intervalle</span></app-feature>
      <app-feature>Profitez de l'expérience complète en débloquant l'accès à toutes les vidéos de Kinomap</app-feature>
      <app-feature>Rejoignez des <span class="font-bold dark-300-color">sessions multijoueurs</span> avec des participants du monde entier</app-feature>
      <app-feature>Prenez part à <span class="font-bold dark-300-color">nos challenges</span> et soyez récompensés !</app-feature>
    </div>
  </div>
</body>
