body {

    padding: 0 16em;
    margin: 8em 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    margin-top: 4em;
  }

  #prices-cards-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.4em;
  }


  #features-container{
    display: flex;
    flex-direction: row;
    #features-title{
        width: 33%;
    }
    #features-content{
        display: flex;
        flex-wrap: wrap;
        width: 66%;
        app-feature{
            min-width: 50%;
            max-width: 100%;
        }
    }
  }
}
